*.pyc
*.pyo
*.so
.DS_Store
.idea/
.idea/*
.settings/
.settings/*
java/solr/logs/*
java/solr/solr/*/data/*
*.swp
*.*~
/dist/
/release/
assets_gllueme/release/
.bin*
*.rdb
chrome_extension*.zip
chrome_extension_build/

cscope.out
cscope.files
*.crx
.vscode/
wp_test.py

gllue_wing.wpr
gllue_wing.wpu

node_modules
node_modules/
vp-tree/build
vp-tree/vptree.so
glluehub/common/cache
glluehub/log.txt
crawler/gae/app.yaml
glluehub/linkedin_data_*
auth_extension/Debug/
auth_extension/Release/
auth_extension/npgllue/Debug/
auth_extension/npgllue/Release/
*.aps
*.suo

[Oo]bj
[Bb]in
*.user
*.suo
*.ncb
gllue-word/packages/
*.msi
gllue-word/GllueWordAddIn/publish/
*.ropeproject

chrome_extension_build/
node_modules
nohup.out

*.wpr
*.wpu
box.py
chrome_app/test/chrome.sockets.tcp.xhr.js

wp_test.py

opstools/remote_call_shell.sh
opstools/generated_createenv.py
opstools/client.sql
opstools/hub.sql
opstools/sql/rawdb.sql

assets/dist/
assets_gllueme/dist/
assets/release/
assets_gllueme/release/

change_config.py

gruntlogs.txt

assets_m/dist/
simhash.so
SimhashQuickFinder.so
update_client.sh
gllue/mistkafkaconfig
.vscode/
gllue/npm-debug.log

e2e/result/
selenium-debug.log
npm-debug.log
phantomjsdriver.log
